<section>
  <h1>Your Cart</h1>
  <ul>
    <% if @cart.line_items.count == 0 %>
      <h2> Your Shopping Cart Is Empty </h2>
    <% else %>
      <% @cart.line_items.each do |line_item| %>  
        <li> <%= line_item.product.product_name %>, Quantity: <%= line_item.quantity %>, Unit Price:  <%=number_to_currency(line_item.unit_price, unit: :£) %>

         <%= button_to 'Remove from Cart', line_item_path(line_item.id), :method => :delete, :class=>:destroy %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <%= link_to 'Continue Shopping', root_path %>
  <%= button_to 'Empty Cart', carts_path(@cart), :method => :delete, :class=>:destroy %>
<section>